description = "categorias"

[viewBag]
==
<section class="section border-0 m-0 pb-3">
    <div class="container container-lg">
        <div class="row pb-1">
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-1.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Design</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">The Desk</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-2.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Photos</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">Blue
                                    Landscape</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-3.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Adventure</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">Forrest
                                    Life</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-4.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Lifestyle</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">Enjoy
                                    your Life</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-5.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Cars</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">White Car</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4 pb-2">
                <a href="#">
                    <span class="thumb-info thumb-info-no-borders thumb-info-bottom-info thumb-info-bottom-info-dark thumb-info-bottom-info-show-more thumb-info-no-zoom border-radius-0">
                        <span class="thumb-info-wrapper thumb-info-wrapper-opacity-6">
                            <img src="img/blog/blog-home-1-6.jpg" class="img-fluid" alt="">
                            <span class="thumb-info-title bg-transparent p-4">
                                <span class="thumb-info-type bg-color-primary px-2 mb-1">Adventure</span>
                                <span class="thumb-info-inner line-height-1 text-4 font-weight-bold mt-1">Into the
                                    Wild</span>
                                <span class="thumb-info-show-more-content">
                                    <p class="mb-0 text-1 line-height-9 mb-1 mt-2 text-light opacity-5">Lorem ipsum
                                        dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim.
                                        Nullam id varius nunc...</p>
                                </span>
                            </span>
                        </span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>