description = "Footer"

[viewBag]
==
<div class="container container-lg">
                <div class="footer-ribbon">
                    <span>Get in Touch</span>
                </div>
                <div class="row py-5 my-4">
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <h5 class="text-3 mb-3">ABOUT THE BLOG</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna semper
                            scelerisque.</p>
                        <p class="mb-0">Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis
                            ptent taciti sociosqu ad litora...</p>
                        <p class="mb-0"><a href='#' class="btn-flat btn-xs text-color-light p-relative top-5"><strong
                                    class="text-2">VIEW MORE</strong><i class="fas fa-angle-right p-relative top-1 pl-2"></i></a></p>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                        <h5 class="text-3 mb-3">RECENT POSTS</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="media mb-3 pb-1">
                                <a href='#'>
                                    <img class="mr-3 rounded-circle" src="img/office/our-office-4-square.jpg" alt=""
                                        style="max-width: 70px;">
                                </a>
                                <div class="media-body">
                                    <a href='#'>
                                        <p class="text-3 text-color-light opacity-8 mb-1">Lorem ipsum dolor sit,
                                            consectetur adipiscing elit.</p>
                                        <p class="text-2 mb-0">12:53 AM Dec 19th</p>
                                    </a>
                                </div>
                            </li>
                            <li class="media">
                                <a href='#'>
                                    <img class="mr-3 rounded-circle" src="img/office/our-office-5-square.jpg" alt=""
                                        style="max-width: 70px;">
                                </a>
                                <div class="media-body">
                                    <a href='#'>
                                        <p class="text-3 text-color-light opacity-8 mb-1">Lorem ipsum dolor sit,
                                            consectetur adipiscing elit.</p>
                                        <p class="text-2 mb-0">12:53 AM Dec 19th</p>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-5 mb-md-0">
                        <h5 class="text-3 mb-3">RECENT COMMENTS</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-3 pb-1">
                                <a href='#'>
                                    <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong
                                            class="ml-2">John Doe</strong> commented on <strong class="text-color-primary">lorem
                                            ipsum dolor sit amet.</strong></p>
                                    <p class="text-2 mb-0">12:55 AM Dec 19th</p>
                                </a>
                            </li>
                            <li>
                                <a href='#'>
                                    <p class="text-3 text-color-light opacity-8 mb-1"><i class="fas fa-angle-right text-color-primary"></i><strong
                                            class="ml-2">John Doe</strong> commented on <strong class="text-color-primary">lorem
                                            ipsum dolor sit amet.</strong></p>
                                    <p class="text-2 mb-0">12:55 AM Dec 19th</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <h5 class="text-3 mb-3">TAGS</h5>
                        <p>
                            <a href='#'><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2">DESIGN</span></a>
                            <a href='#'><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2">CODE</span></a>
                            <a href='#'><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2">LIFESTYLE</span></a>
                            <a href='#'><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2">BRANDS</span></a>
                            <a href='#'><span class="badge badge-dark bg-color-black badge-sm py-2 mr-1 mb-2">PROMO</span></a>
                        </p>
                    </div>
                </div>
            </div>