description = "autor"

[viewBag]
==
<h5 class="font-weight-bold mt-4 pt-2 mb-2 mt-4 mt-md-0">Featured Author</h5>
        
<div class="post-block post-author pt-2">
    <div class="img-thumbnail img-thumbnail-no-borders d-block pb-3">
        <a href="blog-post.html">
            <img class="border-radius-0" src="{{ 'assets/images/avatar.jpg'|theme }}" alt="" style="height: 112px; max-height: 112px; width: auto; max-width: 100%;">
        </a>
    </div>
    <p><strong class="name"><a href="#" class="text-4 pb-2 pt-2 d-block">John Doe</a></strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
        pelle, consectetur adipiscing elit. </p>
</div>
