description = "opciones"

[viewBag]
==
<section class="section bg-color-primary border-0 m-0">
    <div class="container container-lg">
        <div class="row">
            <div class="col text-center">
                <div class="owl-carousel owl-theme nav-dark stage-margin nav-style-1 m-0" data-plugin-options="{'items': 6, 'margin': 5, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}">
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Design</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Photos</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Animals</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Business</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Sports</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">People</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Videos</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Lifestyle</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Technology</a>
                    </div>
                    <div class="px-3">
                        <a href="" class="btn btn-dark btn-block py-3 rounded-0 text-2 text-uppercase font-weight-bold">Dark</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
