description = "Post populares"

[viewBag]
==
<div class="col-md-4">
        
                        <h5 class="font-weight-bold mb-0">Popular Posts</h5>
        
                        <ul class="simple-post-list">
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Amazing Mountain</a>
                                    <div class="post-meta">
                                        November 25, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Creative Business</a>
                                    <div class="post-meta">
                                        November 24, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Unlimited Ways</a>
                                    <div class="post-meta">
                                        November 23, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Developer Life</a>
                                    <div class="post-meta">
                                        November 22, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">The Blue Sky</a>
                                    <div class="post-meta">
                                        November 21, 2018
                                    </div>
                                </div>
                            </li>
                        </ul>
        
                    </div>