description = "Post recientes"

[viewBag]
==
<div class="col-md-4">
        
                        <h5 class="font-weight-bold mb-0 mt-4 mt-md-0">Recent Posts</h5>
        
                        <ul class="simple-post-list">
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Night Life</a>
                                    <div class="post-meta">
                                        November 20, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Another World Perspective</a>
                                    <div class="post-meta">
                                        November 19, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">The Creative Team</a>
                                    <div class="post-meta">
                                        November 18, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Alone on the Forest</a>
                                    <div class="post-meta">
                                        November 17, 2018
                                    </div>
                                </div>
                            </li>
        
                            <li>
                                <div class="post-image">
                                    <div class="img-thumbnail img-thumbnail-no-borders d-block">
                                        <a href="blog-post.html">
                                            <img src="{{ 'assets/images/blog-1.jpg'|theme }}" class="border-radius-0" width="50" height="50"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="post-info">
                                    <a href="blog-post.html">Stranger Things</a>
                                    <div class="post-meta">
                                        November 16, 2018
                                    </div>
                                </div>
                            </li>
                        </ul>
        
                    </div>