description = "instagram"

[viewBag]
==
<h5 class="font-weight-bold pt-4">Photos from Instagram</h5>
<div id="instafeedNoMargins" class="mb-4 pb-1"></div>
<h5 class="font-weight-bold pt-4 mb-2">Tags</h5>
<div class="mb-3 pb-1">
    <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">design</span></a>
    <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">brands</span></a>
    <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">video</span></a>
    <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">business</span></a>
    <a href="#"><span class="badge badge-dark badge-sm badge-pill text-uppercase px-2 py-1 mr-1">travel</span></a>
</div>
