description = "twiter"

[viewBag]
==
<h5 class="font-weight-bold">Latest from Twitter</h5>
<div id="tweet" class="twitter mb-4" >
    <ul>
        <li>
            <span class="status">
            <i class="fab fa-twitter"></i> 
            If you have any suggestions for the next updates, let us know.</span>
            <span class="meta"> <a href="http://twitter.com/OklerThemes/status/644859776422293504" target="_blank">10:05 AM Sep 18th</a>
            </span>
        </li>
        <li>
            <span class="status">
            <i class="fab fa-twitter"></i> 
            We have just updated Porto Admin. Check the changelog for more information.</span>
            <span class="meta"> <a href="http://twitter.com/OklerThemes/status/644859595777830913" target="_blank">10:04 AM Sep 18th</a>
            </span>
        </li>
    </ul>
</div>
