<div class="header-top header-top-default border-bottom-0 bg-color-primary">
    <div class="container container-lg">
        <div class="header-row py-2">
            <div class="header-column justify-content-start">
                <div class="header-row">
                    <nav class="header-nav-top">
                        <ul class="nav nav-pills text-2">
                            <li class="nav-item d-none d-lg-inline-block">
                                <span class="pl-0 pr-4 text-light opacity-8">Everything about Lifestyle, Travel and Gadgets!</span>
                            </li>
                            <li class="nav-item text-uppercase">
                                <a class="nav-link pl-0 pr-4 text-light" href="#">Sign In</a>
                            </li>
                            <li class="nav-item text-uppercase">
                                <a class="nav-link pl-0 pr-4 text-light" href="about-us.html">About Us</a>
                            </li>
                            <li class="nav-item text-uppercase">
                                <a class="nav-link pl-0 pr-4 text-light" href="contact-us.html">Contact Us</a>
                            </li>
                            <li class="nav-item text-uppercase">
                                <a class="nav-link pl-0 pr-4 text-light" href="http://themeforest.net/item/porto-responsive-html5-template/4106987">Buy Now</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-column justify-content-end">
                <div class="header-row">
                    <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean social-icons-icon-light">
                        <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
