description = "Menu Principal"

[viewBag]
==
<ul class="nav nav-pills" id="mainNav">
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle active" href="index.html">
            Home
        </a>
    </li>
    <li class="dropdown dropdown-mega">
        <a class="dropdown-item dropdown-toggle" href="elements.html">
            Elements
        </a>
    </li>
    <li class="dropdown">
        <a class="dropdown-item dropdown-toggle" href='#'>
            Features
        </a>
    </li>
</ul>